*{margin:0; padding:0; box-size:border-box;}
body {
    background: url(../img/redeemed-bg.jpg);
}


.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,0,0,.80);
    width:100%;
    height: 70px;
}
/*Estilizando o cabeçalho*/

.cabecalho a{
    font-family: arial;
    font-size: 16px;
    color:lightgray;
    text-decoration: none;
    cursor: pointer;
}
.cabecalho a:hover{
    color: white;
}
.cabecalho img {
    padding-left:20px;
    height: 40px;
}
.cabecalho button{
    padding:12px;
    background-color: #6FC1E6;
    color:white;
    font-family: arial;
    font-style: bold;
    cursor: pointer;
    outline: none;
    border:none;
}
.cabecalho button:hover{
    background-color: #29B4F3;
}
/*Define o tamanho da tag main*/
.container {
    display:flex;
    margin:auto;
    flex-direction: column;
    max-width:900px;
    padding-top:40px;
    height: 1300px;
    
    align-items: center;
    justify-content: space-between

}
.container h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:22px;
    color:#E7C718;
    align-self: center;
}
    
.introducao {
    color:white;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color:rgba(0,0,0,.30);
    padding:20px 10px;
}    
.introducao:hover{
    border-style: solid;
    border-width: 1px;
    border-color:#E7C718;
}
.glider {
    word-break: break-all;
}
.glider img{
    width:180px;
    height: 180px;
    border-radius: 100px;
}
.glider p{
    color: white;
    font-size: 12px;
    font-family: arial;
}
.descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 230px;
    height: auto;
}
/*Conteúdo do select, value==1*/

.container_lanePhase {
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    height: 800px;
    max-height: auto;

}
.lane_phase{
    width: 50%;
    height: 100%;
    margin-top:100px;
    border-right: solid;
    border-color:#E7C718;
    border-width: 1px;
    padding: 12px 15px;
}
.lane_phase img{
    height: 130px;
    width: 400px;
}

.lane_phase p{
    font-size: 15px;
    font-family: arial;
    color:white;
    text-align: justify;
    line-height: 24px;
}
.lane_phase h3{
    font-size: 18px;
    font-family: arial;
    color: #E7C718;
    text-align: justify;
    margin-top: 10px;
    line-height: 24px;
    padding-bottom: 8px;
}
/*Conteúdo select value==2*/