*{margin:0; padding:0; box-size:border-box;}
body {
    background: url(../img/redeemed-bg.jpg);
}

/*Formatação dos textos*/
p{
    font-size: 15px;
    font-family: arial;
    color:white;
    text-align: justify;
    line-height: 24px;
}
 h3{
    font-size: 18px;
    font-family: arial;
    color: #E7C718;
    text-align: justify;
    margin-top: 10px;
    line-height: 24px;
    padding-bottom: 8px;
    
}
h2 {
    font-size: 26px;
    font-family: arial;
    color: whitesmoke;
    text-align: justify;
    margin-top: 10px;
    line-height: 24px;
    
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,.80);
    width:100%;
    height: 70px;
}
.cabecalho_conteudo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:50%;
    height: 70px;
}
/*Estilizando o cabeçalho*/

.cabecalho a{
    font-family: arial;
    font-size: 16px;
    color:lightgray;
    text-decoration: none;
    cursor: pointer;
}
.cabecalho a:hover{
    color: white;
}
.cabecalho img {
    padding-left:20px;
    height: 40px;
}
.cabecalho button{
    padding:12px;
    background-color: #6FC1E6;
    color:white;
    font-family: arial;
    font-style: bold;
    cursor: pointer;
    outline: none;
    border:none;
}
.cabecalho button:hover{
    background-color: #29B4F3;
}
/*Define o tamanho da tag main*/
.container {
    display:flex;
    margin:auto;
    flex-direction: column;
    max-width:900px;
    padding-top:40px;
    height: 100%;
    
    align-items: center;
    justify-content: space-between;

}
.container h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:22px;
    color:#E7C718;
    align-self: center;
    margin: 30px auto;
}
    
.introducao {
    color:white;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color:rgba(0,0,0,.30);
    padding:20px 10px;
}    

.glider {
    word-break: break-all;
    margin:20px auto;
    width:100%;
}
.glider img{
    width:180px;
    height: 180px;
    border-radius: 100px;
}
.glider p{
    color: white;
    font-size: 12px;
    font-family: arial;
}
.descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 230px;
    height: auto;
}
.seletor {
    margin:25px auto;
    width: 300px;
    height: 40px;
    background-color: rgba(0,0,0,.30);
    color:white;
    outline:none;
    overflow:hidden;
}
.seletor:hover{
    background-color: white;
    color: black;
}

.seletor option{
    background-color: #807C7C;
    color:white;
}

/*Conteúdo do select, value==1*/

.container_info1 {
    margin: 70px auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    height: 850px;
    max-height: auto;
}
.lane_phase{
    width: 50%;
    height: 100%;
    max-height: auto;
    margin-top:10px;
    border-right: solid;
    border-color:#E7C718;
    border-width: 1px;
    padding: 12px 15px;
}
.lane_phase2{
    width: 50%;
    height: 100%;
    margin-top:10px;
    padding: 12px 15px;
    max-height: auto;
}
.lane_phase2 img{
    height: 18%;
    width: 100%;
}

/*Conteúdo select value==2*/

.container_info2 {
    margin:240px auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width:100%;
    height: 560px;
    max-height: auto;

}
.rotacao {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
    
}

.conteudo_rotacao {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    padding:6px;
    height: 100%;
    max-height: auto;
    border-radius: 20px;
    border-width: 1px;
}
/*Conteúdo relacionado ao select.value==3*/
.container_info3 {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width:100%;
    height: 100%;
    max-height: auto;
}
.conteudo_comp {
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 90%;
    padding:6px;
    height: 100%;
    border-radius: 20px;
    border-width: 1px;
}
/*Estilizando o footer*/
.container_footer {
    display:flex;
    margin-top:30px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 40px;
    background-color: rgba(0,0,0,.40);
}
.container_footer a{
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
}