@media screen and (max-width:860px){
    .cabecalho {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        width: auto;
    }
    .cabecalho_conteudo {
        width:100%;
    }
    .introducao {
        font-size:15px;
    }

    .glider-contain {
        width:80%;
        height: 280px;
    }
    .container{
        margin:0 auto;
        width:100%;
        height: auto;

    }
    .seletor {
        height: 60px;
        padding-left:60px;
    }
    .container_info1 {
        display:flex;
        flex-direction: column;
        width:95%;
        margin: 300px auto;
        align-items: center;
    }
    .lane_phase{
        text-align: justify;
        width:100%;
    }
    .lane_phase2{
        text-align: justify;
        width:100%;
    }
    .lane_phase2 img{
        height: 250px;
        width:100%;
        
    }
    .container_info2 {
        display:flex;
        flex-direction: column;
        width:95%;
        margin: 440px auto;
        align-items: center;
    }
    .rotacao {
        display:flex;
        flex-direction: column;
        height: auto;
    }
    .conteudo_rotacao {
        margin: 0 auto;
        width: 100%;
    }
    .container_info3{
        margin: 0 auto;
        height: auto;
    }
    .container_footer{
        margin: 0 auto;
    }
}

@media screen and (max-width:580px){
    .cabecalho_conteudo a{
        font-size:12px;
    }
    h2 {
        font-size: 17px;
    }
    .cabecalho {
        font-size: 10px;
    }
    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 0;
        justify-content: space-between;
        align-items: center;
    
    }
    .container h1 {
        font-size: 16px;
        text-align: center;
    }
    .introducao {
        align-self: center;
        font-size: 16px;
        text-align: justify;
    }
    .glider-contain {
        width: 100%;

    }
    .glider-contain img{
        width: 140px;
        height: 140px;
    }
    .container_info1 {
        align-items: center;
        margin: 0 auto;
        height: 100%;
    }
    .lane_phase {
        border: none;
    }
    .lane_phase2 img{
        width: 98%;
        height: 120px;
    }
    .container_info2 {
        margin: 800px auto;
    }
    .container_info3 {
        margin: 0 auto;

    }
    .container_footer{
        height: 100%;
    }
} 